/* CSS Download Box Masihrapet/
.dl-wrap321 {
font-size: 11px;
font-weight: bold;
background: #F5F5F5;
padding: 10px;
margin: 10px 0;
}
.dl-box321 {
margin: 0;
padding: 0;
list-style: none;
}
.dl-item321 {
background: #E4E4E4;
margin-bottom: 2px;
line-height: 26px;
padding: 0 5px;
}
.dl-item321 strong {
background: #23B95D;
border-right: 2px solid #F5F5F5;
width: 65px;
display: block;
float: left;
margin-left: -5px;
margin-right: 5px;
color: #FFF;
padding: 0 5px;
text-align: left;
}
.dl-item321 a {
color: #857979;
}
.dl-item321 a:hover {
color: #222;
}